h1 {
    color: orange;
    text-align: right;
    font-size: 30px;
}

body {
    margin: 0px 1300px 0px 0px;
}

p:first-letter {
    font-size: 30px;
    color: red;    
}

em {
    background-color: green;
    color: white;
    font-weight: bold;
}

#allotment ol.fruits-list {
    color: #666;
    font-weight: normal;
}

ol.vegetables-list {
    color: red;
    font-weight: normal;
}

#warehouse ol.fruits-list {
    color: green;
    font-weight: normal;
}

#allotment h2 {
    color: orange;
}

#warehouse h2 {
    color: blue;
}

#allotment ul {
    font-weight: bold;
}

#warehouse ul {
    font-weight: bold;
}

thead {
    text-align: center;
    font-weight: bold;
}

tbody {
    background-color: green;
    color: white;
    text-align: center;
}

tbody td:first-child {
    background-color: white;
    color: orange;
    text-align: left;
}
