/*body {
    font-size: 100%;
}*/

li {
    display: inline;
}

.digits a {
    text-decoration: none;
    color: #a64dff;
    font-family: monospace;
    border: 1px solid;
    padding: 3px 6px 3px 6px;
    border-radius: 4px;
}

.text a {
    text-decoration: none;
    color: #a64dff;
    font-family: monospace;
    margin: 5px;
}

.digits a:hover {
    color: white;
    background: #a64dff;
}

